src/App.Core/Web References/EntrustServiceClient/AuthWrapper0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.249.199/EntrustWrapper/AuthWrapper.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" />
  <xs:element name="SynchronizeToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="request" nillable="true" type="q1:SynchroRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="SynchronizeTokenResult" nillable="true" type="q2:ResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="request" nillable="true" type="q3:RequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="UnlockUserResult" nillable="true" type="q4:ResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="request" nillable="true" type="q5:RequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="CheckUserResult" nillable="true" type="q6:UserCheckResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockUserandClearQA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="request" nillable="true" type="q7:RequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockUserandClearQAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="UnlockUserandClearQAResult" nillable="true" type="q8:UnlockClearQAResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="request" nillable="true" type="q9:AuthRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="AuthMethodResult" nillable="true" type="q10:AuthResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="request" nillable="true" type="q11:UpdateUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="UpdateUserDetailsResult" nillable="true" type="q12:ResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenSerial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="request" nillable="true" type="q13:SerialNoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenSerialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EntrustWrapper.Model" minOccurs="0" name="GetTokenSerialResult" nillable="true" type="q14:SerialNoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>